{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
        <li class="list-group-item list-group-item-warning list-group-item-heading" style="font-size:20px">{{ news.title}}</li>
        <img class="img-responsive img-thumbnail" src="{{ news.urlToImage }}" alt="No Image">
        <li class="list-group-item">{{ news.description }}</li>
        <a class="list-group-item active text-center" href="/sources/{{news.name}}" >View</a>
        <li class="list-group-item list-group-item-warning">{{ news.author|upper() }}</li><br><br>
    {% endfor %}

{% endmacro %}